# general
.DS_Store
*.log

# node-specific
node_modules
package-lock.json
yarn.lock
shrinkwrap.yaml
pnpm-lock.yaml
dist

# project-specific
/deploy
/state.json
/app/settings.js
coverage

# secrets
*.pem
